.marginRight {
  margin-right: 1em;
}

.fullList {
  width: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 3em;
}

.hero {
}

.links {
  margin-top: 1.3em;
}

.link {
  margin: 0em 0.5em 0em 0.5em;
}

.icon {
  height: 150px;
  width: 150px;
  margin-right: 1em;
}
