[Unit]
Description=Backend for the rainstorm project
After=network.target

[Service]
User=drop
WorkingDirectory=<root_dir>/raincloud
ExecStart=<root_dir>/venv/bin/gunicorn -b 127.0.0.1:5000 'raincloud:create_app()'
Restart=always

[Install]
WantedBy=multi-user.target
