.divTable{
	display: table;
	width: 100%;
}
.row {
	display: table-row;
}
.cell {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}
.colHeader {
	display: table-cell;
	font-weight: bold;
}
.body {
	display: table-row-group;
}
